body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div-center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #ffa600;
  padding: 10px;
  width: 300px;
}

footer{
  margin-bottom: 0;
}

.delete-button{
  margin: 10px;
  width: 40px;
}

input { 
  text-align: center; 
}

footer{
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}
